* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

body,
html {
  height: 100%;
  width: 100%;
}

.navbar{
  height: 8vh;
  width: 100vw;
  background-color: rgb(4 120 87);
  color: whitesmoke;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.navbar h1{
  font-size: 2rem;
  font-weight: 600;
}

.app-wrapper{
  padding: 20px;
}

.search-sort{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar, .sort-bar{
  display: flex;
  gap: 1rem
}

.input-field{
  height: 6vh;
  width: 20vw;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
}

.button{
  width: 10vh;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: aliceblue;
  background-color: rgb(9, 137, 101);
}

.button:hover{
  background-color: rgb(10, 106, 79);
}

.grid-wrapper{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  grid-auto-rows: minmax(50px);
}

.card{
  padding: 20px ;
  background-color: rgb(247, 247, 243);
}